[submodule "Libraries/eigen"]
	path = Libraries/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Libraries/random"]
	path = Libraries/random
	url = https://github.com/effolkronium/random
